body {
    min-height: 100%;
    font-family: Lato, Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, "Microsoft JhengHei", "MicrMicrosoft YaHei", Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 2;
    margin: 0;
}

#nav.not_index_bg {
    margin-top: 60px;
    height: 22.5rem;
}

#nav {
    margin-bottom: 1rem;
    width: 100%;
    background-attachment: local;
    background-position: center;
    background-size: cover;
}

#bgBlindfold {
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    position: relative;
}

#page_site-info {
    position: absolute;
    top: 10rem;
    width: 100%;
}

#site-title {
    color: #eee;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, .15);
    line-height: 1.5;
    font-weight: 700;
    font-size: 1.3rem;
    animation: titlescale 1s;
}

@media screen and (min-width: 768px){
    #site-title {
        font-size: 2rem;
    }

}

@media screen and (max-width: 768px){
    .layout_page {
        padding: 0 5px !important;
    }
    #page {
        margin: 0;
        padding: 1.8rem 1.3rem;
    }
}

@media screen and (max-width: 900px){
    #page{
        width: 100% !important;
    }
    #aside_content{
        width: 100% !important;
    }
    .layout_page {
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}



@media screen and (min-width: 900px){
    #aside_content .card-widget {
        margin-right: 15px;
    }
}
